<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{{#i18n}}title{{/i18n}}</title>
    <base href="{{springMacroRequestContext.contextPath}}/">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet"
          href="webjars/AdminLTE/3.0.2/plugins/fontawesome-free/css/all.min.css"
          crossorigin="anonymous">
    <!-- Theme style -->
    <link rel="stylesheet"
          href="webjars/AdminLTE/3.0.2/dist/css/adminlte.min.css"
          crossorigin="anonymous">
</head>
